.hero {
    grid-column: main;
    padding: var(--space-lg) 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-lg);
    align-items: center;
}
.hero h1 {
    margin-bottom: var(--space-lg);
}
.hero .col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .col-right img {
    display: flex;
    justify-content: center;
}