.navbar {
    display: flex;
    justify-content: space-between;
    padding: var(--space-md) 0;
}
.navbar .left {
    font-family: var(--font-heading);
    font-size: var(--font-size-lg);
    color: var(--text-dark);
}
.navbar .right {
    display: flex;
    gap: var(--space-md);
}
.navbar .right a {
    color: var(--text-dark);
    padding: var(--space-xs);
    transition: color 0.25s ease;
}
.navbar .right a:hover {
    text-decoration: underline;
    color: var(--primary-purple-500);
    
}
