.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: var(--space-md); 
    margin-top: var(--space-lg);
}

.project-card {
    background-color: var(--white); 
    border-radius: var(--radius-md-2); 
    padding-bottom: var(--space-lg); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.project-card:hover {
    transform: translateY(-5px); 
}
.project-card >div{
    padding: 0 var(--space-md); 
}

.project-card img {
    max-width: 100%; 
    border-top-left-radius: var(--radius-md-2);
    border-top-right-radius: var(--radius-md-2);
}

.project-card header {
    margin: 0 var(--space-md); 
}




