.two-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-lg);
  box-sizing: border-box;
}
.two-columns > .col-left,
.two-columns > .col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.two-columns img {
  border-radius: var(--radius-md-2);
}